*,
*::before,
*::after {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
.scrollbar-custom {
  @apply overflow-auto; /* Ensure the scrollbar is visible */
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  @apply bg-gray-200;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  @apply bg-Blue-medium;
  border-radius: 6px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  @apply bg-Blue-dark;
}
